<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">
  	<!-- 댓글쓰기 -->
  	<insert id="insert">
  		insert into bdr_reply(p_turn,reply,replyer)
		values(#{p_turn},#{reply},#{replyer})
  	</insert>
  	<!-- 댓글상세페이지 -->
  	<select id="read" resultType="org.zerock.domain.ReplyVO">
  		select * from bdr_reply where rno=#{rno}
  	</select>
  	<!-- 댓글삭제 -->
  	<delete id="delete">
  		delete from bdr_reply where rno=#{rno}
  	</delete>
  	<!-- 댓글수정 -->
  	<update id="update">
  		update bdr_reply
		set reply=#{reply},
			updatedate=now()
		where rno=#{rno}
  	</update>
  	<!-- 댓글목록리스트 -->
  	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
	select rno, p_turn, reply, replyer,replydate,updatedate
	from (
			select @rownum:=@rownum+1 as rownum,b.*
	        from (
				select @rownum:=0
			) as tmp, bdr_reply as b
            where p_turn=#{p_turn}
			order by rno desc
	) as boardList
	<![CDATA[
    where rownum>(#{cri.pageNum} - 1) * #{cri.amount}
    and rownum<=#{cri.pageNum} * #{cri.amount}
    ]]>
  	</select>
  	<select id="getCountByP_turn" resultType="int">
  		select count(*) from bdr_reply where p_turn = #{p_turn}
  	</select>
</mapper>