@charset "utf-8";



.text{
    position: absolute;
    width: 1280px;
    margin: 0 auto;
    top: 30px;
    left: 300px;
}



/* 게시글 목록 CSS */

table {
    border-collapse: collapse;
}

caption{
    display: none;
}

#board_list_wrap{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: white;
    padding: 100px;
}

.board_list{
    width: 100%;
    border-top: 2px solid rgb(172, 230, 255);
}

.board_list tr{
    border-bottom: 1px solid #999;
}

.board_list th, .board_list td {
    padding: 10px;
    font-size: 16px;

}

.board_list td{
    text-align: center;
}

.board_list .title{
    text-align: left;
}

.board_list .title:hover{
    text-decoration: underline;
}

.board_list .rating{
    color: gold;
}

#board_list_wrap .pager{
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}

#board_list_wrap .pager a{
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 14px;
}

#board_list_wrap .pager a:first-child{
    margin-left: 0;
}

#board_list_wrap .pager a.bt{
    border: 1px solid #eee;
    background: #eee;
    color: #444;
}

#board_list_wrap .pager a.num{
    border: 1px solid rgb(172, 230, 255);
    font-weight: 600;
    color: rgb(172, 230, 255);
}

#board_list_wrap .pager a.num.on{
    background: rgb(172, 230, 255);
    color: #fff;
}